@page
@model PI.Pages.ProdutoCRUD.DetailsModel
@{
    ViewData["Title"] = "Detalhes do Produto";
}

<h1>Detalhes</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.EmEstoque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.EmEstoque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.DataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.DataCadastro)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Produto?.Id" class="btn btn-warning">Editar</a>
    <a asp-page="./Index" class="btn btn-secondary">Voltar</a>
</div>